/* My Fonts */
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap');

/* My CSS */
body
{
    font-family: 'Muli', sans-serif;
}

.bg-white
{
    background-color: white;
    box-shadow: 0px -10px 20px #888888 !important;
}

.bg-blue
{
    background-color: #2a7fff !important;
}

.bg-green
{
    background-color: #0aba69;
}

.red
{
    color: #ee6e73 !important;
}

.gray
{
    color: #484e54;
}

.active
{
    color: #2a7fff !important;
}

.rounded-circle
{
    display: inline-block;
    padding: 10px;
    background-color: #80b3ff;
    height: 120px;
    width: 120px;
}

.rounded-circle i
{
    font-size: 45px;
    color: white;
}

/* Navbar */
.navbar .nav-item
{
    margin-right: 20px;
    font-weight: 600;
}

.navbar .nav-item:hover
{
    color: #2a7fff !important;
    transition: 0.5s;
}

/* Beranda */
.beranda
{
    height: 100vh;
    background: url(../img/bg.jpg);
    background-size: cover;
}

.beranda h1
{
    font-weight: 900;
}

.beranda a
{
    border-radius: 25px;
    width: 200px;
    box-shadow: 0px 4px 4px #888888;
}

.beranda .btn:hover
{
    background-color: #0f62de !important;
    transition: 0.5s;
}

/* Layanan */
.layanan
{
    background-color: #f6f5fa;
    padding: 20px;
}

.layanan .container
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.layanan h3
{
    font-weight: 900;
}

.layanan p
{
    font-size: 17px;
}

.layanan .row
{
    margin: 20px 0px;
}

.layanan .card
{
    border: none;
    background-color: transparent;
}

.layanan .rounded-circle:hover
{
    background-color: #2a7fff;
    transition: 0.5s;
    cursor: pointer;
}

.layanan .card p 
{
    font-size: 18px;
    font-weight: 500;
}

/* Tentang Kami */
.tentang-kami
{
    padding: 20px;
}

.tentang-kami h3
{
    font-weight: 900;
}

.tentang-kami .row
{
    margin: 100px 0px;
}

/* Tim */
.tim
{
    padding: 20px;
    background-color: #f6f5fa;
}

.tim .container
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.tim h3
{
    font-weight: 900;
}

.tim p
{
    font-size: 17px;
}

.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f6f5fa;
    text-align: center;
    overflow: hidden;
    position: relative;
}
  
.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
  
.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #2a7fff;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
  
.our-team:hover .picture::before {
    height: 100%;
}
  
.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2a7fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
  
.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
  
.our-team .title {
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}
  
.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2a7fff;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
  
.our-team:hover .social {
    bottom: 0;
}
  
.our-team .social li {
    display: inline-block;
}
  
.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
  
.our-team .social li a:hover {
    color: #2a7fff;
    background-color: #f7f5ec;
}

/* Pesan */
.pesan
{
    padding: 20px;
    background-color: #2a7fff;
}

.pesan .container
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.pesan button
{
    border-radius: 25px;
    width: 300px;
    padding: 10px;
    font-weight: 900;
}

.pesan button:hover
{
    background-color: #0a9a58;
}

.pesan button i
{
    font-size: 28px;
}

/* Portofolio */
.portofolio
{
    padding: 20px;
}

.portofolio .container
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.portofolio h3
{
    font-weight: 900;
}

.portofolio p
{
    font-size: 17px;
}

.portofolio .row
{
    margin: 60px 0px;
}

.portofolio .card-header
{
    font-weight: 900;
}

/* Kontak */
.kontak
{
    padding: 20px;
    background-color: #f6f5fa;
}

.kontak .container
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.kontak h3
{
    font-weight: 900;
}

.kontak .row
{
    margin: 30px 0px;
}

/* Footer */
footer
{
    padding: 20px;
    background-color: #2a7fff;
}

footer .container
{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Copyright */
.copyright
{
    background-color: #2a7fff;
    padding: 20px;
    border-top: 1px solid #c3c3c3;
}

.copyright p
{
    margin-top: 5px;
}
